{% extends 'base.html' %}

{% block content %}

{{ moje }}
{% for article in object_list %}

<div class="card">
    <div class="card-header">
        {{ article.publication_datetime }} | {{ article.author }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.content }}</p>
      <a href="#" class="btn btn-primary">Czytaj więcej</a>
    </div>
  </div>
{% endfor %}

{% endblock %}